openapi: 3.0.3

info:
  title: AMZ API
  description: API for integrations with amz-server.
  contact:
    url: git@github.com:Inauon/amz-server.git
  version: 0.1.0

servers:
  - url: https://us-central1-amz-server-cb50d.cloudfunctions.net/app
    description: Sandbox

tags:
  - name: customer # <--- unique tag name
    description: Operations to manage the customers
  - name: customer-address
    description: Operations to manage the customers addresses

paths:
  "/customer":
    get:
      operationId: "customer-index"
      tags: ["customer"]
      description: Returns all customers
      security:
        - authToken: []
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customerFull"
        "401":
          description: Unauthorized (invalid or expired token)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties: {}
    post:
      operationId: "customer-store"
      tags: ["customer"]
      description: Create a new customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/customer"
        required: true
      responses:
        "200":
          description: A customer was created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customerFull"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties: {}
  "/customer/{id}":
    parameters:
      - name: id # Must be same as the value in the {}.
        # Location of the parameter.
        # Can be `path`, `cookie`, `query` or `header`
        in: path
        description: ID of the post
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: "customer-show"
      tags: ["customer"]
      description: Get a single customer
      security:
        - authToken: []
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customerFull"
        "401":
          description: Unauthorized (invalid or expired token)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties: {}
    put:
      operationId: "customer-update"
      tags: ["customer"]
      description: Update a customer
      security:
        - authToken: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/customer"
        required: true
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customerFull"
        "401":
          description: Unauthorized (invalid or expired token)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties: {}
    delete:
      operationId: "customer-delete"
      tags: ["customer"]
      description: Delete a customer
      security:
        - authToken: []
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                type: object
                properties: {}
        "401":
          description: Unauthorized (invalid or expired token)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties: {}
  "/customer/session":
    post:
      operationId: "customer-session"
      tags: ["customer"]
      description: Authenticate a customer
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/customerCredentials"
        required: true
      responses:
        "200":
          description: A customer was created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customerAuthenticate"
        "401":
          description: Unauthorized (invalid credentials)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties: {}
  "/customer/renew":
    get:
      operationId: "customer-renew"
      tags: ["customer"]
      description: Re-authenticate a customer
      security:
        - authToken: []
      responses:
        "200":
          description: A customer was created
          content:
            application/json:
              schema:
                type: object
                properties: {}
        "401":
          description: Unauthorized (invalid or expired token)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties: {}

  "/customer-address":
    get:
      operationId: "customer-address-index"
      tags: ["customer-address"]
      description: Returns all addresses of single customer
      security:
        - authToken: []
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customerAddressFull"
        "401":
          description: Unauthorized (invalid or expired token)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties: {}
    post:
      operationId: "customer-address-store"
      tags: ["customer-address"]
      description: Create a new address of single customer
      security:
        - authToken: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/customerAddress"
        required: true
      responses:
        "200":
          description: A customer was created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customerAddressFull"
        "401":
          description: Unauthorized (invalid or expired token)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties: {}
  "/customer/address/{id}":
    parameters:
      - name: id # Must be same as the value in the {}.
        # Location of the parameter.
        # Can be `path`, `cookie`, `query` or `header`
        in: path
        description: ID of the post
        required: true
        schema:
          type: string
          format: uuid
    get:
      operationId: "customer-address-show"
      tags: ["customer-address"]
      description: Get a single address of single customer
      security:
        - authToken: []
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customerAddressFull"
        "401":
          description: Unauthorized (invalid or expired token)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties: {}
    put:
      operationId: "customer-address-update"
      tags: ["customer-address"]
      description: Update an address of single customer
      security:
        - authToken: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/customerAddress"
        required: true
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/customerAddressFull"
        "401":
          description: Unauthorized (invalid or expired token)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties: {}
    delete:
      operationId: "customer-address-delete"
      tags: ["customer-address"]
      description: Delete an address of single customer
      security:
        - authToken: []
      responses:
        "200":
          description: All went well
          content:
            application/json:
              schema:
                type: object
                properties: {}
        "401":
          description: Unauthorized (invalid or expired token)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "404":
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/applicationError"
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties: {}

components:
  securitySchemes:
    authToken:
      type: apiKey
      in: header
      name: Authorization
  schemas:
    applicationError:
      type: object
      properties:
        error:
          type: string
          description: describe error
    customer:
      type: object
      properties:
        email:
          type: string
          description: Email of the customer
        password:
          type: string
          description: Password of the customer
        name:
          type: string
          description: Name of the customer
        surname:
          type: string
          description: Surname of the customer
        birthday:
          type: string
          description: Birthday of the customer
        area_code:
          type: number
          description: Area code of the customer
        number:
          type: number
          description: Number of the customer
        full_number:
          type: number
          description: Full of the customer (area_code+number)
    customerFull:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID of the customer
        email:
          type: string
          description: Email of the customer
        password:
          type: string
          description: Password of the customer
        name:
          type: string
          description: Name of the customer
        surname:
          type: string
          description: Surname of the customer
        birthday:
          type: string
          description: Birthday of the customer
        area_code:
          type: number
          description: Area code of the customer
        number:
          type: number
          description: Number of the customer
        full_number:
          type: number
          description: Full of the customer (area code + number)
    customerCredentials:
      type: object
      properties:
        email:
          type: string
          description: Email of the customer (its possible pass full_number instead of)
        password:
          type: string
          description: Password of the customer
    customerAuthenticate:
      type: object
      properties:
        customer:
          type: object
          properties:
            id:
              type: string
              format: uuid
              description: ID of the customer
            email:
              type: string
              description: Email of the customer
            password:
              type: string
              description: Password of the customer
            name:
              type: string
              description: Name of the customer
            surname:
              type: string
              description: Surname of the customer
            birthday:
              type: string
              description: Birthday of the customer
            area_code:
              type: number
              description: Area code of the customer
            number:
              type: number
              description: Telephone number of the customer
            full_number:
              type: number
              description: Full of the customer (area code + number)
        session:
          type: string
          description: Session token
    customerAddress:
      type: object
      properties:
        street:
          type: string
          description: Street name
        number:
          type: number
          description: Location number
        zip_code:
          type: number
          description: A postal code
        neighborhood:
          type: string
          description: Neighborhood name
        city:
          type: string
          description: City name
        state:
          type: number
          description: State name
        country:
          type: number
          description: Country name
        complement:
          type: number
          description: Complement of address
    customerAddressFull:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: ID of the address
        street:
          type: string
          description: Street name
        number:
          type: number
          description: Location number
        zip_code:
          type: number
          description: A postal code
        neighborhood:
          type: string
          description: Neighborhood name
        city:
          type: string
          description: City name
        state:
          type: string
          description: State name
        country:
          type: string
          description: Country name
        complement:
          type: string
          description: Complement of address
